@import url('https://fonts.googleapis.com/css2?family=Oxygen');

body{
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
	vertical-align: middle;
	justify-content: center;
	background-color: rgb(15, 15, 15);
}

a {
	color: white;

}
.under_construction {
	display: flex;
	height: fit-content;
	min-width: min-content;
	min-height: 50vh;
	vertical-align: middle;
	flex: auto;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(31, 31, 31);
	border-radius: 1rem;
	margin: 1rem 5% 0rem 5%;
	padding: 2rem;
	color: white;
	font-size: larger;
	flex-wrap: nowrap;
	box-shadow: 0px 0.25rem 1rem black;
}

.under_construction > h1 {
	font-weight: bold;
}

.under_construction > img {
	width:  8em;
	height: 8em;
}

.home_anchor {
	text-decoration: none;
	color: grey;
}